.root {
    -fx-font-size: 14;
    -fx-font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
}

.la-main {
    -fx-background-color: transparent;
    -fx-pref-width: 225;
}

.la-menu {
    -fx-background-color: darkred;
}

.la-menu > .button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10;
}

.la-menu > .drag-button{
    -fx-cursor: MOVE;
}

.la-menu > .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.33);
}

.la-menu > .combo-box-base {
    -fx-text-fill: white;
    -fx-mark-color: white;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.la-menu > .combo-box-base > .list-cell{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.la-pings > .button {
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-alignment: CENTER-LEFT;
}

.la-pings > .button:hover {
    -fx-background-color: rgba(0,0,0,0.5);
}