.root {
    -fx-font-size: 16;
    -fx-font-family: Arial;
}

.top-menu {
    -fx-padding: 0 0 0 10;
    -fx-background-color: darkred;
}

.top-menu .title {
    -fx-fill: white;
}

.top-menu .button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 5 10 5 10;
    -fx-height: 20;
    -fx-width: 20;
}

.top-menu .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.ping-overlay {
    -fx-background-color: rgba(0,0,0,0);
    -fx-padding: 2;
}

.ping-overlay .button {
    -fx-font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    -fx-font-size: 12;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-min-width: 100;
}

.ping-overlay .button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.main-pane {
    -fx-min-width: 300;
}